certifi                               
charset-normalizer                                 
click                                 
colorama                                 
contourpy                                 
cycler                                
filelock                                 
fonttools                                
fsspec                                 
idna
Jinja2                                 
kiwisolver                                 
MarkupSafe                                 
matplotlib                                 
mpmath                                 
networkx                                 
numpy
opencv-python
packaging
pandas                                 
pdf2image
pillow
poppler-utils                                 
psutil                                 
py-cpuinfo                                 
pyparsing                                 
PyPDF2                                 
python-dateutil
pytz
PyYAML                                 
requests
scipy
seaborn
six
style                                 
sympy
thop
torch                                 
torchvision
tqdm
typing_extensions
tzdata
ultralytics
update                                 
urllib3                                 
